
# some datatypes we test on
*.csv
*.tsv
*.json

# some other typical test files to ignore
/blah*
/file*

# escaped test files might show up here
/t/output

# people using the makefile might generate these silly things
/.req.*

# python cruft and other build stuff
*.pyc
/*.egg-info
__pycache__
/dist
/build
/pdc/version.py
