# requirements files (if generated)
/*req*.txt
/.base-reqs

# don't accidentally track stray one-off test files and other spam
/*.csv
/*.tsv
/*.json
/blah*
/file*

# escaped test files might show up here
/t/output

# python cruft and other build stuff
*.pyc
/*.egg-info
__pycache__
/dist
/build
/pdc/version.py
/.coverage
/.pathed-run.log
