
# to actually use the package
# (can we get this from setup.cfg somehow?)
-r requirements.txt

# test requirements
-r test-requirements.txt

# to build we need a couple things `pip install .` can figure out for
# itself from pyproject.toml
build
setuptools_scm

# style points
pre-commit
black
